<form action="/login" method="POST">
	<label for="username">Username:</label>
	<input#username type="text" name="username"/>
	<label for="password">Password:</label>
	<input#password type="password" name="password"/>
	<input type="submit" value="Log In"/>
</form>